/* Place your CSS styles in this file */
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
        body {
            width: 100%;
            min-height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            transform-style: preserve-3d;
        }
        
        #container {
            perspective: 20px;
            width: 5vw;
            -webkit-animation: fade-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: fade-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        
        #inner {
            transition: 1s;
            -webkit-transition: 1s;
        }
        /*============================================================
           * EXTRAS
           
             box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.2);
           border: solid white 155px;
            background-image: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e?auto=format&fit=crop&w=1953&q=80");
           *============================================================*/
        
        .demo-img {
            width: 100%;
            border: none;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .kedua {
            width: 100%;
            -webkit-filter: brightness(50%) drop-shadow(0px 0px 5px #3f3f3f);
            filter: brightness(50%) drop-shadow(0px 0px 5px #3f3f3f);
            transition: 1s;
        }
        
        #cursor {
            transition: 1s;
        }
        
        .kedua:hover {
            width: 100%;
            -webkit-filter: brightness(50%) drop-shadow(0px 0px 2vw #74524a);
            filter: brightness(50%) drop-shadow(0px 0px 2vw #74524a);
        }
        
        .title {
            position: absolute;
            top: 12%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        .the-wolf {
            display: block;
            margin-bottom: 5px;
            pointer-events: none;
            font-family: 'Barlow';
            font-weight: 100;
            color: white;
            font-size: 3vw;
            text-align: center;
            line-height: 1;
            -webkit-animation: tracking-in-contract-bck-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tracking-in-contract-bck-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        
        .coming {
            display: block;
            margin-top: 1.4vh;
            pointer-events: none;
            font-family: 'Barlow';
            font-weight: 100;
            color: white;
            font-size: 2vw;
            text-align: center;
            line-height: 0.1;
            -webkit-animation: tracking-in-contract-bck-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tracking-in-contract-bck-top 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        
     
        
        .by-jordan {
            display: block;
            pointer-events: none;
            font-family: 'Barlow';
            font-weight: 100;
            color: white;
            font-size: 1.2vw;
            text-align: center;
            -webkit-animation: tracking-in-contract-bck-bottom 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: tracking-in-contract-bck-bottom 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
        
        @-webkit-keyframes fade-in {
            0% {
                width: 50%;
                opacity: 0;
            }
            40% {
                opacity: 0.6;
            }
            100% {
                width: 30%;
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1;
            }
        }
        
        @keyframes fade-in {
            0% {
                width: 50%;
                opacity: 0;
            }
            40% {
                opacity: 0.6;
            }
            100% {
                width: 30%;
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1;
            }
        }
        
        @-webkit-keyframes tracking-in-contract-bck-bottom {
            0% {
                letter-spacing: 1em;
                -webkit-transform: translateZ(400px) translateY(300px);
                transform: translateZ(400px) translateY(300px);
                opacity: 0;
            }
            20% {
                letter-spacing: 1em;
                -webkit-transform: translateZ(400px) translateY(300px);
                transform: translateZ(400px) translateY(300px);
                opacity: 0;
            }
            60% {
                opacity: 0.6;
            }
            100% {
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1;
            }
        }
        
        @keyframes tracking-in-contract-bck-bottom {
            0% {
                letter-spacing: 1em;
                -webkit-transform: translateZ(400px) translateY(300px);
                transform: translateZ(400px) translateY(300px);
                opacity: 0;
            }
            20% {
                letter-spacing: 1em;
                -webkit-transform: translateZ(400px) translateY(300px);
                transform: translateZ(400px) translateY(300px);
                opacity: 0;
            }
            60% {
                opacity: 0.6;
            }
            100% {
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1;
            }
        }
        
        @-webkit-keyframes tracking-in-contract-bck-top {
            0% {
                letter-spacing: 0.5cm;
                -webkit-transform: translateZ(400px) translateY(-300px);
                transform: translateZ(400px) translateY(-300px);
                opacity: 0;
            }
            10% {
                letter-spacing: 0.5cm;
                -webkit-transform: translateZ(400px) translateY(-300px);
                transform: translateZ(400px) translateY(-300px);
                opacity: 0;
            }
            40% {
                opacity: 0.6;
            }
            100% {
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1;
            }
        }
        
        @keyframes tracking-in-contract-bck-top {
            0% {
                letter-spacing: 0.5cm;
                -webkit-transform: translateZ(400px) translateY(-300px);
                transform: translateZ(400px) translateY(-300px);
                opacity: 0;
            }
            10% {
                letter-spacing: 0.5cm;
                -webkit-transform: translateZ(400px) translateY(-300px);
                transform: translateZ(400px) translateY(-300px);
                opacity: 0;
            }
            40% {
                opacity: 0.6;
            }
            100% {
                -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
                opacity: 1;
            }
        }